body {
    margin: 0;
    background-color: #480355;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner-text {
    border: 2px solid #90FCF9;
    color: #D30C7B;
    padding: 10px; 
    display: inline-block;
    width: fit-content; 
    margin: 0 auto;
}

@font-face {
    font-family: cursed-timer;
    src: url('font/CursedTimerUlil-Aznm.ttf');
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    margin: auto;    
}

.score-screens {
    background-color: #0a0a0a;
    width: 155px;
    height: 120px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-screens-score {
    font-family: cursed-timer;
    font-size: 80px;
    color: #D30C7B;
}

.eaters {
    text-shadow: #D30C7B 0px 0px 2px;
}

.plus-pnt-btn {
    width: 45px;
    height: 45px;
    background-color: #480355;
    border: 2px solid #90FCF9;
    border-radius: 5px;
    font-family: cursed-timer;
    color: #8ecae6;
    display: flex;
    justify-content: center;
    align-items: center;
}


#home-container {
    height: 248px;
    width: 155px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-points-btns-home {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

 #guest-container {
    height: 248px;
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

#add-points-btns-guest {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

